{% load static %}
</html>
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Регистрация</title>
  <link rel="stylesheet" href="{% static 'css/register.css'%}">

</head>
<body>
  <!-- artial:index.partial.html -->
<body>
  <section class="container">
    <div class="login-container">
      <div class="circle circle-one"></div>
      <div class="form-container">
        <img src="{% static 'img/ghost.png'%}" alt="illustration" class="illustration" />
        <h1 class="opacity">Регистрация</h1>
        <form action="{% url 'register' %}" method="POST">
            {% csrf_token %}
            <input type="text" placeholder="Логин" name="username">
            <input type="password" placeholder="Пароль" name="password1">
            <input type="password" placeholder="Подтверждение пароля" name="password2">
            <input type="email" placeholder="Почта" name="email">
          <button class="opacity" type="submit" >Отправить</button>
        </form>
        <div class="register-forget opacity">
            <a href="{% url 'login_site' %}">Войти</a>
        </div>
      </div>
      <div class="circle circle-two"></div>
    </div>
  </section>
</body>
<!-- partial -->
  <script  src="{% static 'js/login.js'%}"></script>

</body>
</html>